
.contenedor{
    position: relative;
}

.contenido{
    display: inline-block;
}

header{
    background-color: cadetblue;
    height: 160px ;
    width: 100%;
}

header img{
    height: 120px;
    width: auto;
    margin-left: 25%;
    margin-top: 20px;
    position: absolute;
}

header h2{
    font-size:  35px;
    margin-left: 40%;
    margin-top: 63px;
    position: absolute;
}



/* main{
    background-color: aquamarine;

} */

#imagen-fondo-gotham{
    width: 1280px;
    height: auto;
    position: relative;
    display: inline-block;
}

.botones{
    top: 50%;
    left: 30%;
    position: absolute;
}

.boton{
    width: 400px;
    height: 100px;
    margin: 30px;
    border-radius: 30px;

}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

body{
    width: 1280px;
    height: auto;
}